body {
  font-family: sans-serif;
  margin: auto;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 70%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 26px;
  padding: 10px;
  font-weight: bolder;
}

.navbar a:hover {
  color: #ffffff;
}
div#article-list {
  margin-left: 3%;
  font:20px italic,sans-serif;
}
